* {
  background: #ebeffb;
}

* {
  background: #ebeffb;
}

#text_container {
  /* background-color: rgb(88, 87, 87); */
  max-width: 30dvw;
  height: 30vh;
  top: 40vh;
  left: 10vw;
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adjust the gap value as needed */
}

#hellotext {
  font-size: small;
}

#nametext {
  font-size: xxx-large;
}

#abouttext {
  font-size: x-small;
}

#download_btn {
  color: #ebeffb;
  background-color: red;
  padding: 1vh 1.5vw;
}

/* img {
  width: 20vw;
  position: relative;
  top: 20vh;
  left: 5vw;
} */
